Summer.CompetitiveTender.Service/Service References/OpenBidService/GpSectionWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.govpurchase.opensource.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GpSectionWebServiceService" targetNamespace="http://webservice.govpurchase.opensource.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice.govpurchase.opensource.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="findOpenBidSectionList" type="tns:findOpenBidSectionList" />
      <xs:element name="findOpenBidSectionListResponse" type="tns:findOpenBidSectionListResponse" />
      <xs:element name="findSectionList" type="tns:findSectionList" />
      <xs:element name="findSectionListResponse" type="tns:findSectionListResponse" />
      <xs:element name="getSectionById" type="tns:getSectionById" />
      <xs:element name="getSectionByIdResponse" type="tns:getSectionByIdResponse" />
      <xs:complexType name="findOpenBidSectionList">
        <xs:sequence>
          <xs:element minOccurs="0" name="gtpName" type="xs:string" />
          <xs:element minOccurs="0" name="gsName" type="xs:string" />
          <xs:element minOccurs="0" name="auId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findOpenBidSectionListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resultDO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resultDO">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="fileContent" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="obj" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="objList" nillable="true" type="xs:anyType" />
          <xs:element name="success" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gpSectionWebDO">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseEntity">
            <xs:sequence>
              <xs:element minOccurs="0" name="adtCoId" type="xs:string" />
              <xs:element minOccurs="0" name="adtCoName" type="xs:string" />
              <xs:element minOccurs="0" name="adtId" type="xs:string" />
              <xs:element minOccurs="0" name="adtName" type="xs:string" />
              <xs:element minOccurs="0" name="adtTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="bidPublicityDays" type="xs:int" />
              <xs:element minOccurs="0" name="bidVerifyCoId" type="xs:string" />
              <xs:element minOccurs="0" name="bidVerifyId" type="xs:string" />
              <xs:element minOccurs="0" name="bidVerifyState" type="xs:int" />
              <xs:element minOccurs="0" name="bidVerifyTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="bidVerifyView" type="xs:string" />
              <xs:element minOccurs="0" name="bidderCoId" type="xs:string" />
              <xs:element minOccurs="0" name="bidderCoName" type="xs:string" />
              <xs:element minOccurs="0" name="bidderEndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="bidderId" type="xs:string" />
              <xs:element minOccurs="0" name="bidderName" type="xs:string" />
              <xs:element minOccurs="0" name="bidderStartTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="bidderTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="contractNum" type="xs:string" />
              <xs:element minOccurs="0" name="contractState" type="xs:int" />
              <xs:element minOccurs="0" name="contractTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="evalBasePrice" type="xs:double" />
              <xs:element minOccurs="0" name="evalFormFileName" type="xs:string" />
              <xs:element minOccurs="0" name="evalFormUploadState" type="xs:int" />
              <xs:element minOccurs="0" name="evalFormUploadTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="evalFormUrl" type="xs:string" />
              <xs:element minOccurs="0" name="evalReportFileName" type="xs:string" />
              <xs:element minOccurs="0" name="evalReportSendCoId" type="xs:string" />
              <xs:element minOccurs="0" name="evalReportSendId" type="xs:string" />
              <xs:element minOccurs="0" name="evalReportSendState" type="xs:int" />
              <xs:element minOccurs="0" name="evalReportSendTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="evalReportUploadState" type="xs:int" />
              <xs:element minOccurs="0" name="evalReportUploadTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="evalReportUrl" type="xs:string" />
              <xs:element minOccurs="0" name="evalState" type="xs:int" />
              <xs:element minOccurs="0" name="evalType" type="xs:int" />
              <xs:element minOccurs="0" name="firstPara" type="xs:decimal" />
              <xs:element minOccurs="0" name="gnSendCoId" type="xs:string" />
              <xs:element minOccurs="0" name="gnSendTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="gnSenderId" type="xs:string" />
              <xs:element minOccurs="0" name="gnState" type="xs:int" />
              <xs:element minOccurs="0" name="gsBidQc" type="xs:string" />
              <xs:element minOccurs="0" name="gsClassIfyCode" type="xs:string" />
              <xs:element minOccurs="0" name="gsClassIfyCodeName" type="xs:string" />
              <xs:element minOccurs="0" name="gsCode" type="xs:string" />
              <xs:element minOccurs="0" name="gsConfirmState" type="xs:int" />
              <xs:element minOccurs="0" name="gsContent" type="xs:string" />
              <xs:element minOccurs="0" name="gsDecryptState" type="xs:int" />
              <xs:element minOccurs="0" name="gsEstPrice" type="xs:decimal" />
              <xs:element minOccurs="0" name="gsEvalWays" type="xs:long" />
              <xs:element minOccurs="0" name="gsFileFee" type="xs:decimal" />
              <xs:element minOccurs="0" name="gsId" type="xs:string" />
              <xs:element minOccurs="0" name="gsMoneyCode" type="xs:string" />
              <xs:element minOccurs="0" name="gsMoneyCodeName" type="xs:string" />
              <xs:element minOccurs="0" name="gsMoneyID" type="xs:string" />
              <xs:element minOccurs="0" name="gsName" type="xs:string" />
              <xs:element minOccurs="0" name="gsPriceType" type="xs:int" />
              <xs:element minOccurs="0" name="gsPriceTypeID" type="xs:string" />
              <xs:element minOccurs="0" name="gsPriceTypeName" type="xs:string" />
              <xs:element minOccurs="0" name="gsRegistState" type="xs:int" />
              <xs:element minOccurs="0" name="gsSecdePosit" type="xs:decimal" />
              <xs:element minOccurs="0" name="gsSignState" type="xs:int" />
              <xs:element minOccurs="0" name="gsewiMax" type="xs:decimal" />
              <xs:element minOccurs="0" name="gstrState" type="xs:int" />
              <xs:element minOccurs="0" name="gtpCode" type="xs:string" />
              <xs:element minOccurs="0" name="gtpId" type="xs:string" />
              <xs:element minOccurs="0" name="gtpName" type="xs:string" />
              <xs:element minOccurs="0" name="isApply" type="xs:int" />
              <xs:element minOccurs="0" name="isBuyFile" type="xs:int" />
              <xs:element minOccurs="0" name="isCashdePosit" type="xs:int" />
              <xs:element minOccurs="0" name="openBidState" type="xs:int" />
              <xs:element minOccurs="0" name="optCoId" type="xs:string" />
              <xs:element minOccurs="0" name="optId" type="xs:string" />
              <xs:element minOccurs="0" name="optTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="preBidEndTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="preBidPublicityDays" type="xs:int" />
              <xs:element minOccurs="0" name="preBidStartTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="preBiderCoId" type="xs:string" />
              <xs:element minOccurs="0" name="preBiderCoName" type="xs:string" />
              <xs:element minOccurs="0" name="preBiderId" type="xs:string" />
              <xs:element minOccurs="0" name="preBiderName" type="xs:string" />
              <xs:element minOccurs="0" name="preVerifyCoId" type="xs:string" />
              <xs:element minOccurs="0" name="preVerifyId" type="xs:string" />
              <xs:element minOccurs="0" name="preVerifyState" type="xs:int" />
              <xs:element minOccurs="0" name="preVerifyTime" type="xs:dateTime" />
              <xs:element minOccurs="0" name="preVerifyView" type="xs:string" />
              <xs:element minOccurs="0" name="remark" type="xs:string" />
              <xs:element minOccurs="0" name="signCert" type="xs:string" />
              <xs:element minOccurs="0" name="signState" type="xs:int" />
              <xs:element minOccurs="0" name="signatureWay" type="xs:int" />
              <xs:element minOccurs="0" name="signedValue" type="xs:string" />
              <xs:element minOccurs="0" name="state" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseEntity" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getSectionById">
        <xs:sequence>
          <xs:element minOccurs="0" name="gsId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSectionByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resultDO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findSectionList">
        <xs:sequence>
          <xs:element minOccurs="0" name="gtpId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findSectionListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resultDO" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findOpenBidSectionList">
    <wsdl:part name="parameters" element="tns:findOpenBidSectionList" />
  </wsdl:message>
  <wsdl:message name="findOpenBidSectionListResponse">
    <wsdl:part name="parameters" element="tns:findOpenBidSectionListResponse" />
  </wsdl:message>
  <wsdl:message name="getSectionByIdResponse">
    <wsdl:part name="parameters" element="tns:getSectionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findSectionListResponse">
    <wsdl:part name="parameters" element="tns:findSectionListResponse" />
  </wsdl:message>
  <wsdl:message name="getSectionById">
    <wsdl:part name="parameters" element="tns:getSectionById" />
  </wsdl:message>
  <wsdl:message name="findSectionList">
    <wsdl:part name="parameters" element="tns:findSectionList" />
  </wsdl:message>
  <wsdl:portType name="GpSectionWebService">
    <wsdl:operation name="findOpenBidSectionList">
      <wsdl:input name="findOpenBidSectionList" message="tns:findOpenBidSectionList" />
      <wsdl:output name="findOpenBidSectionListResponse" message="tns:findOpenBidSectionListResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSectionById">
      <wsdl:input name="getSectionById" message="tns:getSectionById" />
      <wsdl:output name="getSectionByIdResponse" message="tns:getSectionByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findSectionList">
      <wsdl:input name="findSectionList" message="tns:findSectionList" />
      <wsdl:output name="findSectionListResponse" message="tns:findSectionListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GpSectionWebServiceServiceSoapBinding" type="tns:GpSectionWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findOpenBidSectionList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findOpenBidSectionList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findOpenBidSectionListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSectionById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSectionById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSectionByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findSectionList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findSectionList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findSectionListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GpSectionWebServiceService">
    <wsdl:port name="GpSectionWebServicePort" binding="tns:GpSectionWebServiceServiceSoapBinding">
      <soap:address location="http://121.28.95.246:9090/webservice/gpSectionWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>